/* Style sheet used as the default for the app */

/* Styles for elements */
img {
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 20px;
}
hr {
    width: 400px;
    margin-left: 0;
}
h3 {
    display: inline-block;
}

/* Styles for classes */
.container {
    margin: 40px auto;
    width: 80%;
}
.button {
    width: 160px;
    height: 45px;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 20px;
}

/* Styles for IDs, they are not visible by default,
   but will be changed to become visible in profile.js init() */
#container {
    display: none;
}
#container-edit {
    display: none;
}

/* Sets style for input element in ID container-edit only */
#container-edit input {
    height: 32px;
    width: 195px;
    font-size: 15px;
}
/* Sets style for horizontal rule in ID container-edit only */
#container-edit hr {
    margin: 25px 0;
}